.popcards {
  background: rgb(255, 255, 255);
  padding-top: 150px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  .popcards {
    background: hsl(0, 0%, 100%);
    padding: 30px;
  }
}

.popcard {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  // padding-top: 100px;
  //   padding-bottom: 540px;

  .preview {
    background: white;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 20px;
    width: 70%;
    border-radius: 10px;
    // box-shadow: 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  .left-preview {
    background-image: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .right-preview {
    font-size: 13px;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    text-align: left;
  }

  .right-preview h2 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 48px;
  }

  .right-preview p {
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .author {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 10px;
  }

  .name h4 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin: 0px;
    padding-top: 0px;
  }

  .name p {
    margin: 0px;
  }

  .avatar img {
    border-radius: 100%;
    width: 40px;
  }

  .share-icon {
    transform: translateY(7px) translateX(7px);
  }

  .popuptext {
    display: flex;
  }

  .popuptext img {
    padding: 2px;
    margin-top: 5px;
    margin-left: 2px;
  }

  .popuptext p {
    padding: 3px;
    margin-top: 15px;
    margin-left: 10px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: hsl(210, 46%, 95%);
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .popup img {
    transform: translateX(7px) translateY(7px);
  }

  .popup .popuptext {
    visibility: hidden;
    width: 190px;
    background: hsl(217, 19%, 35%);
    color: hsl(212, 23%, 69%);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -20%;
    margin-left: -80px;
    letter-spacing: 3px;
  }

  .popup .popuptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 500px) {
}
